.recipe-edit {
    padding: 30px;
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}

.recipe-edit-close-container {
    text-align: end;
}

.recipe-edit-close {
    font-size: 2.5rem;
}

.recipe-edit-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 5px;
    column-gap: 40px;
}

.recipe-label {
    font-weight: bold;
}

.recipe-input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: inherit;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

textarea.recipe-input {
    resize: none;
    height: 200px;
}

.recipe-edit-ingredient-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-top: 20px;
    margin-left: 40px;
}

@media (max-width:1000px) {
    .recipe-edit-ingredient-grid, .recipe-edit-grid {
        grid-template-columns: 1fr;
    }
}